body{
    background-image: url(images/trees.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.register-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background-color:orange;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 50px;

}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1px;
    background: plum;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    background-color: green;
    outline: auto;
    width: 100%;
    border: 0;
    padding: 8px;
    color: hotpink;
    font-size: medium;
    cursor: pointer;
    
}

.form button:hover,.form button:active{
    background-color: indianred;
}

